[submodule "kv/hikv"]
	path = kv/hikv
	url = https://github.com/GlitterIsMe/open_hikv.git
	branch = developing
[submodule "kv/utreedb"]
	path = kv/utreedb
	url = https://github.com/GlitterIsMe/nvm-datastructure.git
	branch = with-ff
[submodule "kv/roart"]
	path = kv/roart
	url = https://github.com/GlitterIsMe/ROART.git
	branch = developing
[submodule "kv/metakv"]
	path = kv/metakv
	url = git@github.com:Junkrat77/metakv.git
[submodule "filebench"]
	path = filebench
	url = git@github.com:filebench/filebench.git
